extends ../../adminLayout

block content
	head
		link(href="/css/adminIndex.css",type="text/css",rel="stylesheet")

	.container#menu
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 歌曲名称
						th 歌手
						th 分类
						th 专辑名
						th 时间
						th 录入时间
						th 查看
						th 更新
						th 删除
				tbody
					each item in musics
						tr(class="item-id-#{item._id}")
							td #{item.title}
							td #{item.singer}
							if item.category
								td #{item.category.name}
							else
								td 0
							td #{item.special}
							td #{item.time}
							td #{moment(item.meta.updateAt).format('YYYY/MM/DD')}
							td: a(target="_blank",href="/music/#{item._id}") 查看
							td: a(target="_blank",href="/music/update/#{item._id}") 修改
							td 
								button.btn.btn-danger.delete(type="button",data-id="#{item._id}") 删除
	
	.container.pageul
		ul.pagination
			if totalPage > 5
				- for (var i = 0; i < 4; i++){
					-if(currentPage == (i + 1)){
						li.active 
							a.item(id="#{i}",data-id="#{i}",data-total=totalPage) #{currentPage}
					-}
					-else{
						li
							a.item(id="#{i}",data-id="#{i}",data-total=totalPage) #{i + 1}
					-}
				-}
				li
					span ...
				- for (var i = totalPage - 1; i < totalPage;i++){
						li
							a.item(id="#{i}",data-id="#{i}",data-total=totalPage) #{i + 1}
				-	}
			else
				- for (var i = 0; i < totalPage; i++){
					-if(currentPage == (i + 1)){
						li.active 
							a.item(id="#{i}",data-id="#{i}",data-total=totalPage) #{currentPage}
					-}
					-else{
						li
							a.item(id="#{i}",data-id="#{i}",data-total=totalPage) #{i + 1}
					-}
				-}

	script(src="/js/musiclist.js")