extends ../../layout

block content
	head
		link(href="/css/userPage.css",type="text/css",rel="stylesheet")

	.container-fluid#menu
		div.collect.row
			div.uptitle.col-sm-10.col-sm-offset-1
				span 我的收藏 
				span 累计收藏 #{collect.length}首
			ul.upul.col-sm-10.col-sm-offset-1
				-var i = 0
				each item in collect
					-++i
					li
						span.text-danger #{i}.
						span
							a(href="/music/#{item.music._id}") #{item.music.title} - #{item.music.singer}
